footer
  $spikes-height: 7px
  background: spikes-up() repeat-x, linear-gradient(180deg, transparent $spikes-height, $theme-base-color $spikes-height)
  color: #ddd
  font-family: $heading-font-family
  font-size: 1.2em
  padding: 40px 0
  text-align: center
  margin-top: ($spikes-height * -1)

  a
    text-decoration: none

    &:link, &:visited
      color: #bbb

    &:hover, &:active
      color: #fff

  .footnote
    font-size: 11px
