/*!
 * Author:       Patrik Affentranger
 * Author URI:   http://patrikaffentranger.me
 * Version:      0.2
 */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../src/stylesheets/_style_old.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 1, ../src/stylesheets/_style_old.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 1, ../src/stylesheets/_style_old.scss */
body {
  line-height: 1;
}

/* line 1, ../src/stylesheets/_style_old.scss */
ol, ul {
  list-style: none;
}

/* line 1, ../src/stylesheets/_style_old.scss */
blockquote, q {
  quotes: none;
}

/* line 1, ../src/stylesheets/_style_old.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 1, ../src/stylesheets/_style_old.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
body {
  background: #fff;
  font: .938em/1.5em "Georgia","Times New Roman",serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* line 1, ../src/stylesheets/_style_old.scss */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: Arial,"HelveticaNeue","Helvetica Neue",Helvetica,sans-serif;
  font-weight: normal;
}

/* line 1, ../src/stylesheets/_style_old.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 1, ../src/stylesheets/_style_old.scss */
h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
h5 {
  font-size: 17px;
  line-height: 24px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
h6 {
  font-size: 14px;
  line-height: 21px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.subheader {
  color: #777;
}

/* line 1, ../src/stylesheets/_style_old.scss */
p {
  margin: 0 0 20px 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
p img {
  margin: 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}

/* line 1, ../src/stylesheets/_style_old.scss */
em {
  font-style: italic;
}

/* line 1, ../src/stylesheets/_style_old.scss */
strong {
  font-weight: bold;
  color: #333;
}

/* line 1, ../src/stylesheets/_style_old.scss */
small {
  font-size: 80%;
}

/* line 1, ../src/stylesheets/_style_old.scss */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}

/* line 1, ../src/stylesheets/_style_old.scss */
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

/* line 1, ../src/stylesheets/_style_old.scss */
blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}

/* line 1, ../src/stylesheets/_style_old.scss */
blockquote cite:before {
  content: "\2014 \0020";
}

/* line 1, ../src/stylesheets/_style_old.scss */
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555;
}

/* line 1, ../src/stylesheets/_style_old.scss */
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
a, a:visited {
  color: #333;
}

/* line 1, ../src/stylesheets/_style_old.scss */
a:hover, a:focus {
  color: #000;
  text-decoration: underline;
}

/* line 1, ../src/stylesheets/_style_old.scss */
p a, p a:visited {
  line-height: inherit;
}

/* line 1, ../src/stylesheets/_style_old.scss */
ul, ol {
  margin-bottom: 20px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
ul {
  list-style: none outside;
}

/* line 1, ../src/stylesheets/_style_old.scss */
ol {
  list-style: decimal;
}

/* line 1, ../src/stylesheets/_style_old.scss */
ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
ul.square {
  list-style: square outside;
}

/* line 1, ../src/stylesheets/_style_old.scss */
ul.circle {
  list-style: circle outside;
}

/* line 1, ../src/stylesheets/_style_old.scss */
ul.disc {
  list-style: disc outside;
}

/* line 1, ../src/stylesheets/_style_old.scss */
ul ul, ul ol, ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}

/* line 1, ../src/stylesheets/_style_old.scss */
ul ul li, ul ol li, ol ol li, ol ul li {
  margin-bottom: 6px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
li {
  line-height: 18px;
  margin-bottom: 12px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
ul.large li {
  line-height: 21px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
li p {
  line-height: 21px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.remove-bottom {
  margin-bottom: 0 !important;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.half-bottom {
  margin-bottom: 10px !important;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.add-bottom {
  margin-bottom: 20px !important;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .column, .container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.row {
  margin-bottom: 20px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.column.alpha, .columns.alpha {
  margin-left: 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.column.omega, .columns.omega {
  margin-right: 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .one.column, .container .one.columns {
  width: 40px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .two.columns {
  width: 100px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .three.columns {
  width: 160px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .four.columns {
  width: 220px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .five.columns {
  width: 280px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .six.columns {
  width: 340px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .seven.columns {
  width: 400px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .eight.columns {
  width: 460px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .nine.columns {
  width: 520px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .ten.columns {
  width: 580px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .eleven.columns {
  width: 640px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .twelve.columns {
  width: 700px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .thirteen.columns {
  width: 760px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .fourteen.columns {
  width: 820px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .fifteen.columns {
  width: 880px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .sixteen.columns {
  width: 940px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .one-third.column {
  width: 300px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .two-thirds.column {
  width: 620px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .offset-by-one {
  padding-left: 60px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .offset-by-two {
  padding-left: 120px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .offset-by-three {
  padding-left: 180px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .offset-by-four {
  padding-left: 240px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .offset-by-five {
  padding-left: 300px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .offset-by-six {
  padding-left: 360px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .offset-by-seven {
  padding-left: 420px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .offset-by-eight {
  padding-left: 480px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .offset-by-nine {
  padding-left: 540px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .offset-by-ten {
  padding-left: 600px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .offset-by-eleven {
  padding-left: 660px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .offset-by-twelve {
  padding-left: 720px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .offset-by-thirteen {
  padding-left: 780px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .offset-by-fourteen {
  padding-left: 840px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .offset-by-fifteen {
  padding-left: 900px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .pull-by-four {
  position: relative;
  left: -240px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.container .push-by-four {
  position: relative;
  left: 240px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1, ../src/stylesheets/_style_old.scss */
  .container {
    width: 768px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .column, .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 10px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .one.column, .container .one.columns {
    width: 28px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .two.columns {
    width: 76px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .three.columns {
    width: 124px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .four.columns {
    width: 172px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .five.columns {
    width: 220px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .six.columns {
    width: 268px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .seven.columns {
    width: 316px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .eight.columns {
    width: 364px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .nine.columns {
    width: 412px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .ten.columns {
    width: 460px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .eleven.columns {
    width: 508px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .twelve.columns {
    width: 556px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .thirteen.columns {
    width: 604px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .fourteen.columns {
    width: 652px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .fifteen.columns {
    width: 700px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .sixteen.columns {
    width: 748px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .one-third.column {
    width: 236px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .two-thirds.column {
    width: 492px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-one {
    padding-left: 48px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-two {
    padding-left: 96px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-three {
    padding-left: 144px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-four {
    padding-left: 192px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-five {
    padding-left: 240px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-six {
    padding-left: 288px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-seven {
    padding-left: 336px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-eight {
    padding-left: 384px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-nine {
    padding-left: 432px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-ten {
    padding-left: 480px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-eleven {
    padding-left: 528px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-twelve {
    padding-left: 576px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-thirteen {
    padding-left: 624px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-fourteen {
    padding-left: 672px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-fifteen {
    padding-left: 720px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .pull-by-four {
    position: relative;
    left: -192px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .push-by-four {
    position: relative;
    left: 192px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1, ../src/stylesheets/_style_old.scss */
  .container {
    width: 300px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .columns, .container .column {
    margin: 0;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column {
    width: 300px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven, .container .offset-by-eight, .container .offset-by-nine, .container .offset-by-ten, .container .offset-by-eleven, .container .offset-by-twelve, .container .offset-by-thirteen, .container .offset-by-fourteen, .container .offset-by-fifteen {
    padding-left: 0;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .pull-by-four, .container .push-by-four {
    position: static;
    left: auto;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 1, ../src/stylesheets/_style_old.scss */
  .container {
    width: 420px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .columns, .container .column {
    margin: 0;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column {
    width: 420px;
  }
}
/* line 1, ../src/stylesheets/_style_old.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.clearfix:before, .clearfix:after, .row:before, .row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.row:after, .clearfix:after {
  clear: both;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.row, .clearfix {
  zoom: 1;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
::selection, ::-moz-selection, ::-webkit-selection {
  background: orange;
  color: #000;
}

/* line 1, ../src/stylesheets/_style_old.scss */
h2 span::selection, nav a::selection, ul#stats li::selection, h2::-moz-selection, nav a::-moz-selection, ul#stats li::-moz-selection, h2::-webkit-selection, nav a::-webkit-selection, ul#stats li::-webkit-selection {
  background: #888;
  color: #fff;
}

/* line 1, ../src/stylesheets/_style_old.scss */
header {
  background: url("../img/spikes.gif") repeat-x scroll 0 100% transparent;
  position: relative;
  padding-bottom: 7px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
header .container {
  overflow: hidden;
  padding-bottom: 100px;
  padding-top: 25px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.intro {
  position: relative;
  z-index: 10;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.intro h1 {
  color: #5f5f5f;
  font-style: italic;
  font-size: 1.6em;
  font-family: 'Source Sans Pro',sans-serif;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.intro h1 strong {
  color: #000;
  display: block;
  font-style: normal;
  font-size: 2.5em;
  letter-spacing: -2px;
  line-height: 1em;
  margin: 8px 0 3px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #ccc;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.intro p {
  color: #333;
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 400;
  font-size: 1.200em;
  line-height: 1.4em;
  text-shadow: 0 1px 0 #ccc;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.photo {
  bottom: 0;
  position: absolute;
  right: -27px;
  z-index: 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.photo img {
  display: block;
}

/* line 1, ../src/stylesheets/_style_old.scss */
nav {
  bottom: 0;
  position: absolute;
  z-index: 10;
}

/* line 1, ../src/stylesheets/_style_old.scss */
nav a, nav a:link, nav a:visited {
  color: #fff;
}

/* line 1, ../src/stylesheets/_style_old.scss */
nav a {
  background-color: #010101;
  border-bottom: 0 none;
  display: block;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: -0.071em;
  line-height: 2.857em;
  padding-left: 23px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: -1px -1px 1px #aaaaaa, 1px 0 1px #cccccc, 3px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px -1px 1px #aaaaaa, 1px 0 1px #cccccc, 3px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: -1px -1px 1px #aaaaaa, 1px 0 1px #cccccc, 3px 3px 0 rgba(0, 0, 0, 0.5);
}

/* line 1, ../src/stylesheets/_style_old.scss */
nav a:hover, nav a:active {
  text-decoration: none;
}

/* line 1, ../src/stylesheets/_style_old.scss */
[class^="ico-"], [class*=" ico-"] {
  background-image: url("../img/icons.png");
  display: inline-block;
  height: 24px;
  margin-top: 1px;
  margin-right: 13px;
  line-height: 24px;
  vertical-align: text-top;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 24px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.ico14 {
  height: 14px;
  line-height: 14px;
  margin-top: 5px;
  width: 14px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.ico14.ico-man {
  background-position: -80px 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.ico14.ico-hat {
  background-position: -40px -40px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.ico14.ico-comment {
  background-position: 0 -80px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.ico14.ico-doc {
  background-position: -40px 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.ico-man {
  background-position: -40px 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.ico-hat {
  background-position: 0 -40px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.ico-comment {
  background-position: -80px -40px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.ico-doc {
  background-position: -40px -80px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#about, #portfolio, #contact {
  background-image: url("../img/000-noise.png");
}

/* line 1, ../src/stylesheets/_style_old.scss */
#about {
  background-color: rgba(150, 150, 150, 0.1);
}

/* line 1, ../src/stylesheets/_style_old.scss */
#portfolio {
  background-color: rgba(140, 140, 140, 0.2);
}

/* line 1, ../src/stylesheets/_style_old.scss */
#contact {
  background-color: rgba(150, 150, 150, 0.1);
}

/* line 1, ../src/stylesheets/_style_old.scss */
section {
  overflow: hidden;
}

/* line 1, ../src/stylesheets/_style_old.scss */
section .container {
  padding-top: 2.667em;
  padding-bottom: 5.334em;
}

/* line 1, ../src/stylesheets/_style_old.scss */
section .title {
  position: relative;
}

/* line 1, ../src/stylesheets/_style_old.scss */
section .title .line:before {
  background-color: #010101;
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  left: 0;
  top: 48%;
  width: 100%;
  z-index: 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
section .title h2 {
  color: #fff;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
}

/* line 1, ../src/stylesheets/_style_old.scss */
section .title h2:before {
  border-color: transparent #342d34;
  border-style: solid;
  border-width: 6px 33px 0 0;
  bottom: auto;
  display: block;
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
section .title h2 span {
  background-color: #010101;
  display: block;
  padding-left: 23px;
  margin-right: 20px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
section .title h2 span:after {
  border-color: transparent #010101;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  bottom: auto;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
section .title .top {
  background: url("../img/icons.png") no-repeat 13px 10px #010101;
  line-height: 40px;
  text-indent: -9999px;
  position: absolute;
  right: 10px;
  width: 40px;
  z-index: 20;
}

/* line 1, ../src/stylesheets/_style_old.scss */
section h3 {
  color: #4e4f64;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
}

/* line 1, ../src/stylesheets/_style_old.scss */
section h3, section p, section a {
  text-shadow: 0 1px 0 #fff;
}

/* line 1, ../src/stylesheets/_style_old.scss */
section#about li a {
  text-decoration: none;
  text-transform: uppercase;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#about {
  margin-top: -7px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.stats li {
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  color: #fff;
  font-family: Arial,"HelveticaNeue","Helvetica Neue",Helvetica,sans-serif;
  font-size: .933em;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 7px;
  padding-left: 10px;
  z-index: 10;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.stats li.nine {
  background-color: #111;
  width: 90%;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.stats li.nine span {
  display: none;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.stats li.nine:hover span {
  color: #444;
  display: block;
  font-family: monospace;
  font-size: 12px;
  height: 67px;
  line-height: 1.5em;
  padding-right: 28px;
  position: absolute;
  right: -30px;
  text-indent: 0;
  text-transform: none;
  top: -51px;
  width: 160px;
  z-index: 0;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.stats li.nine:hover span:after {
  background: url("../img/icons.png") no-repeat -120px 0 transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  height: 80px;
  width: 40px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.stats li.eight {
  background-color: #342d34;
  width: 80%;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.stats li.seven {
  background-color: #4e4f64;
  width: 70%;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.stats li.six {
  background-color: #5c7589;
  width: 60%;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.stats li.five {
  background-color: #a3c1bf;
  width: 50%;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.scale {
  position: relative;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.scale .ruler {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.scale .ruler div {
  border-left: 1px solid #000;
  float: left;
  height: 9px;
  width: 24% !important;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.scale .ruler .sml {
  height: 6px;
  margin-top: 3px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.scale .ruler .last {
  width: 24%;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.scale span.l {
  float: left;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.scale span.r {
  float: right;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.locs, .tools {
  width: 50% !important;
}

/* line 1, ../src/stylesheets/_style_old.scss */
.locs li a, .tools li a {
  text-decoration: none;
  text-transform: uppercase;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#portfolio .row {
  border-bottom: 2px dashed #ccc;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#portfolio .row:last-child {
  border-bottom: 0 none;
  margin-bottom: -20px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#portfolio h3 {
  text-transform: none;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#portfolio a {
  text-decoration: none;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#portfolio .img {
  padding-top: 5px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#portfolio img {
  width: 100%;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#portfolio .right-col {
  text-align: right;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#portfolio .desc .yr {
  font-size: 1.2em;
  line-height: 1.6em;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#portfolio .last .desc {
  border-bottom: 0 none;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#contact {
  margin-bottom: -7px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#contact .locs li {
  margin-bottom: 20px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#contact .locs img {
  float: left;
  margin: 0 10px 0 5px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#contact .locs a {
  display: block;
  line-height: 24px;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#contact .locs:first-child {
  text-align: right;
}

/* line 1, ../src/stylesheets/_style_old.scss */
#contact .locs:first-child img {
  float: right;
}

/* line 1, ../src/stylesheets/_style_old.scss */
footer {
  background: url("../img/spikes-ud.gif") repeat-x scroll 4px 0 black;
  color: #ddd;
  font-family: Arial,"HelveticaNeue","Helvetica Neue",Helvetica,sans-serif;
  font-size: 1.2em;
  padding: 40px 0;
  text-align: center;
}

/* line 1, ../src/stylesheets/_style_old.scss */
footer a {
  text-decoration: none;
}

/* line 1, ../src/stylesheets/_style_old.scss */
footer a:link, footer a:visited {
  color: #bbb;
}

/* line 1, ../src/stylesheets/_style_old.scss */
footer a:hover, footer a:active {
  color: #fff;
}

/* line 1, ../src/stylesheets/_style_old.scss */
footer .footnote {
  font-size: 11px;
}

@media only screen and (max-width: 959px) {
  /* line 1, ../src/stylesheets/_style_old.scss */
  #stats li {
    padding-left: 5px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1, ../src/stylesheets/_style_old.scss */
  header .container {
    padding-bottom: 60px;
    padding-top: 12px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  header .intro p {
    font-size: 1.2em;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  nav li a {
    padding-left: 0 !important;
    text-align: center;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  #contact .locs li {
    margin-bottom: 30px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  #contact .locs span {
    font-size: .800em;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1, ../src/stylesheets/_style_old.scss */
  .intro h1 strong {
    font-size: 1.8em;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .photo, nav {
    position: static;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  header .container {
    padding-bottom: 0;
    padding-top: 20px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  header .container nav li.four.columns {
    width: 50%;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  nav a {
    border-top: 1px solid #555;
    border-left: 1px solid #555;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  section .title .top {
    right: 26px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  section .title .line:before {
    display: block;
    margin-left: -50%;
    width: 200%;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  #portfolio .right-col {
    text-align: left;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  #portfolio .img {
    padding-top: 8px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  #portfolio .row {
    border-bottom: 0 none;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  #portfolio .left-col {
    margin-bottom: 20px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  #portfolio .left-col, #portfolio .right-col {
    border-bottom: 2px dashed #ccc;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 1, ../src/stylesheets/_style_old.scss */
  .project .columns {
    width: 50% !important;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .row .desc {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 1, ../src/stylesheets/_style_old.scss */
  .intro h1 strong {
    font-size: 1.2em;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .intro p {
    font-size: 1.067em;
    line-height: 1.5em;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  nav a, nav a:link, nav a:visited {
    font-size: .9em;
    letter-spacing: 0;
    padding-left: 13px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  [class^="ico-"], [class*=" ico-"] {
    height: 14px;
    line-height: 14px;
    width: 14px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .ico-man {
    background-position: -80px 0;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .ico-hat {
    background-position: -40px -40px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .ico-comment {
    background-position: 0 -80px;
  }

  /* line 1, ../src/stylesheets/_style_old.scss */
  .ico-doc {
    background-position: -80px -80px;
  }
}
/* line 1, ../src/stylesheets/_style_old.scss */
.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: black;
  padding: .2em 0;
}
