.scale
  position: relative

  .ruler
    border-bottom: 1px solid $foreground-color
    border-right: 1px solid $foreground-color

    div
      border-left: 1px solid $foreground-color
      float: left
      height: 9px
      width: 24%!important

    .sml
      height: 6px
      margin-top: 3px

    .last
      width: 24%

  span.l
    float: left

  span.r
    float: right
