div.container
  div.row.remove-bottom
    div.nine.columns
      .intro
        span Hello, my name is
        h1 Patrik Affentranger
        p
          | I'm a professional Front End Web Developer from Switzerland based in Perth, Australia.
          | For #{(new Date().getFullYear()) - 2006} years I have been gathering commercial experience and perfecting my skills.
        p
          | My passion is creating beautiful, functional websites using the&nbsp;latest web technologies.

  div.row.remove-bottom
    nav(role="navigation")
      h2 Navigation

      ul.row.remove-bottom
        li.four.columns.remove-bottom: a.smoothScroll(href="#about")
          i.ico-man
          | About
        li.four.columns.remove-bottom: a.smoothScroll(href="#portfolio")
          i.ico-hat
          | Portfolio
        li.four.columns.remove-bottom: a.smoothScroll(href="#contact")
          i.ico-comment
          | Contact
        li.four.columns.remove-bottom
          a.smoothScroll(href="https://www.dropbox.com/s/liwtfi744n4e6o0/CV_PatrikAffentranger_211116.pdf?dl=1", rel="external", title="Download my Resume", onclick="_gaq.push(['_trackEvent', 'Downloads', 'PDF', '/CV_PatrikAffentranger_211116.pdf']);")
            i.ico-doc
            | Resume
