section#portfolio.clearfix
  div.container

    div.title.add-bottom.clearfix
      div.sixteen.columns.alpha.omega.line
        h2.five.columns.omega: span
          i.ico14.ico-hat
          |  His work
        a.top.smoothScroll(href="#top") top

    //- PROJECTS
    | <div class="row">
    each project, index in projects
      if index % 2 === 0 && i !== 0
        | </div>
        | <div class="row">
      +project(
        index,
        project.title,
        project.year,
        project.description,
        project.url,
        project.urlTitle,
        project.imgSrc
      )
    | </div>

    div.clients.sixteen.columns
      p
        | * Unfortunately, I cannot display more projects at this time. This is due to the fact that a lot of my past work was for intra- and extranets, which are protected sites and therefore not publicly available. However, I will see what I can do and try to get some screenshots to display.
      p
        | Some of the clients I have worked with/for:

      ul
        each url, name in clients
          li: a(href=url rel="nofollow")= name
