// hide something from view but not from screenreaders
=visually-hidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  white-space: nowrap
  width: 1px

@function spikes-up
  @return url('data:image/svg+xml;charset=UTF8,<svg xmlns="http://www.w3.org/2000/svg" fill="#010101" width="6px" height="7px" viewBox="0 0 6 7"><polygon points="0,0 3,2.5 6,0 6,7 0,7"/></svg>')

@function spikes-down
  @return url('data:image/svg+xml;charset=UTF8,<svg xmlns="http://www.w3.org/2000/svg" fill="#010101" width="6px" height="7px" viewBox="0 0 6 7"><polygon points="0,0 6,0 6,7 3,4.5 0,7"/></svg>')
