include ./partials/_mixins.jade

doctype
html(lang='en', class='no-js')
  head
    include ./partials/_head.jade

  body#top
    <!--[if lte IE 8]>
    p.chromeframe
      | Your browser is <em>ancient!</em>. Please 
      a(href='http://browsehappy.com/') upgrade your browser
      |  to improve your experience.
    <![endif]-->

    header(role='banner')
      include ./partials/_header.jade

    main#main(role='main')
      //- 'THIS GUY' SECTION
      include ./partials/_about.jade

      //- 'PORTFOLIO' SECTION
      include ./partials/_portfolio.jade

      //- 'CONTACT' SECTION
      include ./partials/_contact.jade

    include ./partials/_footer.jade
