include ./layouts/_mixins.jade

doctype
html(lang="en", class="no-js")
  head
    include ./layouts/_head.jade

  body#top
    <!--[if lte IE 8]>
    p.chromeframe
      | Your browser is <em>ancient!</em>. Please 
      a(href="http://browsehappy.com/") upgrade your browser
      |  to improve your experience.
    <![endif]-->

    header
      include ./layouts/_header.jade

    main#main(role="main")
      //- 'THIS GUY' SECTION
      include ./layouts/_about.jade

      //- 'PORTFOLIO' SECTION
      include ./layouts/_portfolio.jade

      //- 'CONTACT' SECTION
      include ./layouts/_contact.jade

    include ./layouts/_footer.jade
