section#about.clearfix
  div.container
    div.title.add-bottom.clearfix
      div.sixteen.columns.alpha.omega.line
        h2.five.columns.omega: span
          i.ico14.ico-man
          |  This guy
        a.top.smoothScroll(href="#top") top
    div.one-third.column
      h3 Profile
      p.
        My name is Patrik, I am a Web Publisher and front-end developer from Berne, Switzerland.<br/>I have worked with 30+ clients all over the world, small and large. Clean, simple and usable design with attention to details is my trade mark.
      p.
        I love beautifully crafted designs, for print and web. Fuelled by all kinds of indie and electronic music I can tinker for days. Hence, I like to think that <a href="https://github.com/pzi/portefeuille">portefeuille</a> will help others in creating an online portfolio, too.
    div.one-third.column
      h3 Stats
      ul.stats.half-bottom
        li.nine HTML / CSS
          span There's always room for improvement.
        li.eight Photoshop
        li.six Javascript / jQuery
        li.seven Telerik Sitefinity
        li.five WordPress
        li.six SEO
        li.eight Account Management
      div.scale.clearfix.add-bottom
        div.ruler.clearfix
          div
          div.sml
          div
          div.sml.last
        span.l Rookie
        span.r Master
    div.one-third.column
      h3 Tools
      ul.column.alpha.omega.locs
        li: a(href="http://www.apple.com/mac/", rel="nofollow") Macbook
        li: a(href="http://www.apple.com/iphone/", rel="nofollow") iPhone
        li: a(href="http://www.sparrowmailapp.com/", rel="nofollow") Sparrow
        li: a(href="http://culturedcode.com/things/", rel="nofollow") Things
        li: a(href="https://www.dropbox.com/", rel="nofollow") Dropbox
        li: a(href="http://cyberduck.ch/", rel="nofollow") Cyberduck
        li: a(href="http://daringfireball.net/projects/markdown/", rel="nofollow") Markdown
        li: a(href="http://panic.com/coda/", rel="nofollow") Coda
        li: a(href="http://www.balsamiq.com/", rel="nofollow") Balsamiq
      ul.column.alpha.omega.tools
        li: a(href="http://www.sublimetext.com/", rel="nofollow") Sublime Text 2
        li: a(href="http://incident57.com/codekit/", rel="nofollow") CodeKit
        li: a(href="http://notepad-plus-plus.org/", rel="nofollow") Notepad++
        li: a(href="http://livereload.com/", rel="nofollow") LiveReload
        li
          a(href="http://lesscss.org/", rel="nofollow") LESS
          |  / #{' '}
          a(href="http://sass-lang.com/", rel="nofollow") SASS
        li: a(href="http://jade-lang.com/", rel="nofollow") Jade
        li: a(href="https://github.com/pzi") GitHub
        li: a(href="http://stackoverflow.com/users/1166161/pezzi") Stack Overflow
    div.sixteen.columns: p.remove-bottom.
      As a jack of all trades, I can do a lot of things. What makes me truly happy though, is working with clients to reach and fulfill their goals. This is my passion &ndash; taking a project from the very start in ideas and sketching to the final result of a smart, handcrafted, well-constructed website. If you would like to sit together and discuss your needs, please check out <a class="smoothScroll" href='#contact'>how to reach me</a> down below.
