section#about.clearfix
  div.container
    div.title.add-bottom.clearfix
      div.sixteen.columns.alpha.omega.line
        h2.five.columns.omega: span
          i.ico14.ico-man
          |  This guy
        a.top.smoothScroll(href="#top") top

    div.one-third.column
      h3 Profile
      p.
        My name is Patrik and I am a Front-End Developer from Switzerland. Over the last seven years I have worked with over 50 clients from all over the world, from startups to multi-million corporations.
      p.
        I love beautifully crafted designs, for web and print. Clean, simple and usable design with attention to details is my trade mark. Fuelled by all kinds of indie and electronic music I can tinker for days.

    div.one-third.column
      h3 Stats
      ul.stats.half-bottom
        li.nine HTML / CSS
          span There's always room for improvement.
        li.seven Javascript
        li.seven Git
        li.six WordPress
        li.five Ruby on Rails
        li.eight Accessibility
        li.six Photoshop
        li.seven SEO
        li.eight Account Management
      div.scale.clearfix.add-bottom
        div.ruler.clearfix
          div
          div.sml
          div
          div.sml.last
        span.l Rookie
        span.r Master

    div.one-third.column
      h3 Tools
      ul.column.alpha.omega.locs

        li: a(href="http://www.apple.com/mac/", rel="external") Macbook
        li: a(href="http://www.apple.com/iphone/", rel="external") iPhone
        li: a(href="http://google.com/chrome/", rel="external") Chrome
        li: a(href="http://airmailapp.com/", rel="external") Airmail
        li: a(href="http://culturedcode.com/things/", rel="external") Things
        li: a(href="https://www.dropbox.com/", rel="external") Dropbox
        li: a(href="http://panic.com/transmit/", rel="external") Transmit
        li: a(href="http://www.balsamiq.com/", rel="external") Balsamiq
        li: a(href="http://www.sublimetext.com/", rel="external") Sublime Text
        li: a(href="https://imageoptim.com/", rel="external") ImageOptim
      ul.column.alpha.omega.tools
        li: a(href="https://brew.sh/", rel="external") Homebrew
        li: a(href="http://bower.io/", rel="external") Bower
        li: a(href="http://gruntjs.com/", rel="external") Grunt
        li: a(href="http://gulpjs.com/", rel="external") Gulp.js
        li: a(href="http://sass-lang.com/", rel="external") Sass
        li: a(href="http://haml.info/", rel="external") Haml
        li: a(href="http://jade-lang.com/", rel="external") Jade
        li: a(href="https://middlemanapp.com", rel="external") Middleman
        li: a(href="https://github.com/pzi") GitHub
        li: a(href="http://stackoverflow.com/users/1166161/pezzi") Stack Overflow

    div.sixteen.columns
      p.remove-bottom.
        As a jack of all trades, I can do a lot of things. What makes me truly happy though, is working with clients to reach and fulfill their goals. This is my passion &ndash; taking a project from the very start in ideas and sketching to the final result of a smart, handcrafted, well-constructed website. If you would like to sit together and discuss your needs, please check out <a class="smoothScroll" href='#contact'>how to reach me</a> down below.
