section#contact.clearfix
  div.container
    div.title.add-bottom.clearfix
      div.sixteen.columns.alpha.omega.line
        h2.five.columns.omega: span
          i.ico14.ico-comment
          |  Catch him
        a.top.smoothScroll(href="#top") top
    div.one-third.column
      p.
        These days I am available for freelance and/or collaboration work.<br>
        <br>
        If you have got projects, questions, comments about my portfolio or just want to say hello anyway, <a href="mailto:hello__at__patrikaffentranger.me" rel="nofollow">drop me a line</a> or
        have a look where you can find myself in the cloud.<br>
        <br>
        Normally, I am quick hitting the reply button, unless none of my devices can connect to the interweb.
    div.one-third.column
      ul.column.alpha.omega.locs
        li: a(href="https://www.facebook.com/paffentranger", rel="external")
            img(src="img/social/facebook.png", alt="Facebook icon", width="24", height="24")
            span Facebook
        li: a(href="http://www.flickr.com/photos/pzi")
            img(src="img/social/flickr.png", alt="Flickr icon")
            span Flickr
        li: a(href="https://foursquare.com/pzimat", rel="external")
            img(src="img/social/4square.png", alt="4square icon", width="24", height="24")
            span 4square
        li: a(href="http://gplus.to/pzi", rel="external")
            img(src="img/social/google_plus.png", alt="Google+ icon", width="24", height="24")
            span Google+
        li: a(href="http://instagram.com/pzi", rel="external")
            img(src="img/social/instagram.png", alt="Instagram icon", width="24", height="24")
            span Instagram
      ul.column.alpha.omega.locs
        li: a(href="http://www.lastfm.de/user/pezzi", rel="external")
            img(src="img/social/last_fm.png", alt="Last.fm icon", width="24", height="24")
            span Last.fm
        li: a(href="http://au.linkedin.com/in/paffentranger", rel="external")
            img(src="img/social/linked_in.png", alt="LinkedIn icon", width="24", height="24")
            span LinkedIn
        li: a(href="http://pzi.tumblr.com")
            img(src="img/social/tumblr.png", alt="Tumblr icon", width="24", height="24")
            span Tumblr
        li: a(href="http://www.twitter.com/pzimat", rel="external")
            img(src="img/social/twitter.png", alt="Twitter icon", width="24", height="24")
            span Twitter
    div.one-third.column
      h3 ... doing updates
      p.
        As with all things in life, there is a master plan, the one for my portfolio includes (but is not limited to):<br>
        &bull; more css3 (like, a lot) &bull; more jade &bull; smacss &bull; cms templates &bull; more less/sass &bull; accessibility &bull; Add client logo list &bull; more zing!<br>
        <br>
        One line of code at the time.
