div.container
  div.row.remove-bottom

    div(role="banner").sixteen.columns.intro
      h1 the portfolio of 
        strong Patrik Affentranger
      p
        | Professional Web Publisher from Switzerland based in Perth, Australia.
        br
        | For 7 years I have gathered commercial experience and perfected my skills.
        br
        | My passion is creating beautiful websites using the latest web technologies.

  nav(role="navigation")
    ul.row.remove-bottom
      li.four.columns.remove-bottom: a.smoothScroll(href="#about")
        i.ico-man
        | About
      li.four.columns.remove-bottom: a.smoothScroll(href="#portfolio")
        i.ico-hat
        | Portfolio
      li.four.columns.remove-bottom: a.smoothScroll(href="#contact")
        i.ico-comment
        | Contact
      li.four.columns.remove-bottom
        a.smoothScroll(href="https://www.dropbox.com/s/gwfsflkqwjwyp6t/CV_PatrikAffentranger_12.1.13.pdf?dl=1",  onclick="_gaq.push(['_trackEvent', 'Downloads', 'PDF', '/CV_PatrikAffentranger_12.1.13.pdf']);")
          i.ico-doc
          | Resume
