section#portfolio.clearfix
  div.container

    div.title.add-bottom.clearfix
      div.sixteen.columns.alpha.omega.line
        h2.five.columns.omega: span
          i.ico14.ico-hat
          |  His work *
        a.top.smoothScroll(href="#top") top

    //- PROJECTS
    div.row
      //- Project 1 - Geidi
      mixin project_odd("Geidi", "2011", "Web Design, HTML, CSS, Graphic Design, JavaScript, Concept, Sitefinity", "http://www.geidi.com", "geidi.com", "img/www.geidi.com.jpg")
      //- Project 2 - n c ag
      mixin project_even("n c ag", "2011", "Web Design, HTML, CSS, Graphic Design of V1, JavaScript, Concept, PHP", "http://www.ncag.ch", "ncag.ch", "img/www.ncag.ch.jpg")
    div.row
      //- Project 3 - Media Impression
      mixin project_odd("Media Impression", "2010", "HTML, CSS, JavaScript, PHP", "http://www.mediaimpression.ch", "mediaimpression.ch", "img/www.mediaimpression.ch.jpg")
      //- Project 4 - Workfinder
      mixin project_even("Workfinder", "2011", "Web Design, HTML, CSS, Graphic Design, JavaScript, Concept, PHP", "http://www.workfinder.ch", "workfinder.ch", "img/www.workfinder.ch.jpg")
    div.row
      //- Project 5 - Mohnhaus
      mixin project_odd("Mohnhaus", "2010", "Web Design, HTML, CSS, PHP, JavaScript, Graphic Design, Concept", "http://www.mohnhaus.ch", "mohnhaus.ch", "img/www.mohnhaus.ch.jpg")
      //- Project 6 - Balkonien Wohnen
      mixin project_even("Balkonien Wohnen", "2010", "HTML, CSS, JavaScript, PHP", "http://www.balkonien-wohnen.ch", "balkonien-wohnen.ch", "img/www.balkonien-wohnen.ch.jpg")
    div.row
      //- Project 7 - Fondation Robmar
      mixin project_odd("Fondation Robmar", "2010", "Web Design, HTML, CSS, PHP, JavaScript, Graphic Design, Concept", "http://www.fondation-robmar.ch", "fondation-robmar.ch", "img/www.fondation-robmar.ch.jpg")
      //- Project 8 - Advantis
      mixin project_even("Advantis", "2010", "Web Design, HTML, CSS, PHP, JavaScript, Concept", "http://www.advantis-ic.com", "advantis-ic.com", "img/www.advantis-ic.com.jpg")

    div.clients.sixteen.columns
      p
        | * Unfortunately, I cannot display more projects at this time. This is due to the fact that a lot of my past work was for intra- and extranets, which are protected sites and therefore not publicly available. However, I will see what I can do and try to get some screenshots to display.
        br
        | Some of the clients I have worked with/for:

      ul
        each url, name in clients
          li: a(href=url rel="nofollow")= name
